/* AJUSTA MENU RESPONSIVO */
@media (min-width: 768px) and (max-width: 990px) {
   .header-container {
       width: 100%;
       /* background: url('../img/img-banner/fundo-menu.png') repeat-x; */
   }   
}

@media (min-width: 990px) {
   .header-container {
       width: 100%;      
     /*  background: url('../img/img-banner/fundo-menu.png') repeat-x; */
   }
   /* alinhar menu acima de 992px para direita */
   .navbar-nav{
       float: right;
   } 
   /* ajustar a margin left do box-feed quando o site não esta responsivo */
   #box-feed{
       margin-left: 40px;
   } 
}

/* CODIGO PARA FUNCIONAR O MENU RESPONSIVO ATE O TAMANHO DE 990px AO INVÉS DE SER ATE O 768px */
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }    
}


/*  HEADER*/
    
.navbar-brand{
    padding-top: 0px;
} //tira o padding top do logo


/* CONTAINER */
#container{
    
}


/* CONTEUDO DA PAGINA HOME */

.conteudo{
    padding:30px 15px 0px 15px;    
}

.content-texto-home{
    padding-left: 0px;
}
.content-texto-home h1{
    color:#145da9;
}

.content-texto-home .content-texto-workgroup{     
    font-size: 14px;
    color:#858585;
    text-align: justify;    
}

/* Conteudo de Depoimentos de clientes */
#depoimentos{
    width: 500px;
    height: 100px;
    border: 2px solid #dddddd;
    position: relative;
    margin-bottom: 10px;
}

#depoimentos .autor-depoimento{
    width: 100px;
    float: left;
    padding: 35px 30px;
}

#depoimentos .content-depoimento{
    width: 450px;
    padding: 5px 5px;
    text-align: justify;
    font-size: 14px;
    color:#858585;    
}

/* conteudo do box de feed de noticias do blog workmotor */
#box-feed {
    width:300px; 
    margin-top:5px;
    margin-bottom:5px; 
    border: 2px solid #dddddd; 
    border-radius: 5px;            
    position: relative;
    padding: 0px; 
}

#box-feed .titulo-feed{
    border-bottom: 2px solid #dddddd;  
    background-color: #f1f1f1;                     
}
#box-feed .titulo-feed h1 {
    font-size: 18px;
    font-weight: bold;
    color: #145da9; 
    margin-top: 0px;   
    padding-top: 10px;
    padding-left: 10px;              
}

#box-feed .container-feed {    
    width: 100%;                
    text-align: justify;
}    

#box-feed .content-feed-p{
    padding:5px 10px;
}

#box-feed .content-feed-bg{
    background: #eef2f5;
}

#box-feed .feed-data {
    font-size: 14px;
    color:#858585;
    text-align: right;
}
#box-feed img {
    width:50px;
    height:50px;
    float:left;
    margin:5px 5px 7px 0;
    display: block;
}

#box-feed .link_veja_mais{
    border-top: 2px solid #dddddd;                    
    background-color: #f1f1f1;   
    width: 100%;
    height: 40px;                
}
#box-feed .link_veja_mais .texto_veja_mais {
    font-size: 14px;
    font-weight: bold;
    color: #145da9; 
    margin-left: 10px;
    margin-top: 10px;
}

#box-feed .link_veja_mais .texto_veja_mais a{
    color: #145da9;                 
}
          
/* TERMINA CONTEUDO DA PAGINA HOME */            


/* COMEÇA PAGINA CONTATO */
.form_contato{
    margin-top: 150px; 
    padding-left: 15px;
}

.form_contato h2{
    color: #145da9; 
}

.form_contato fieldset{
    border: 2px solid #145da9;; 
    width: 320px;    
    border-radius: 5px;
    border-style: solid;    
    margin-bottom: 40px;    
}

.form_contato .conteudo-formulario{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;    
}

.form_contato .conteudo-formulario label{
    color: #134d75;
    font-size: 16px;   
    margin-top: 5px;
    margin-bottom: 0px;
}

.form_contato .conteudo-formulario input{
    height: 25px;
    width: 98%;
    border-radius: 5px;
    border-style: solid;
    border-color: #428bca;
    color: #134d75;
    padding: 3px;
}

.form_contato .conteudo-formulario input:focus {
    outline: none;
    background: #93d3f4;
    color: #134d75;
}

.form_contato .conteudo-formulario input:hover{
    border: 2px solid #145da9; 
    border-radius: 5px;    
    background: #93d3f4;
    color: #134d75;    
}

.form_contato .conteudo-formulario .campo_ddd{
    width: 16%;    
}

.form_contato .conteudo-formulario .campo_telefone{
    width: 80.1%;
}


.form_contato .conteudo-formulario .campo_mensagem{
    width: 98%;
    height: 100px;    
    border:2px solid #428bca;
    border-radius: 5px;
    resize: none;
}


.form_contato .conteudo-formulario textarea:focus{
    outline:none;
    background: #93d3f4;
    color: #134d75;
}

.form_contato .conteudo-formulario .campo_mensagem:hover{
    border: 2px solid #145da9;
    border-radius: 5px;   
    background: #93d3f4;
    color: #134d75;
}

.form_contato .conteudo-formulario .btn_enviar{
    width: 80px;
    height: 27px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-top: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #1e77b1;
    border: 2px solid #428bca;
}

.form_contato .conteudo-formulario .btn_enviar:hover{    
    background: #428bca;
    border: 2px solid #145da9;
}

/* MENSAGEM DA ENTREGA DO FORMULARIO DA PAGINA CONTATO*/
.msg_enviada {
    margin-top: 150px;
    font-size: 15px;
    color: #428bca;
    font-weight: bold;
    margin-left: 265px;
    margin-bottom: -120px;
}

/* TERMINA PAGINA CONTATO */


/* COMEÇA PAGINA PRODUTOS E SERVIÇOS */

.prod_servicos{
    margin-top: 150px;        
}

.prod_servicos h2{
    color: #145da9;
    margin-bottom: 20px;
}

.prod_servicos .sobre_prod_serv{
    margin-bottom: 20px;
    padding: 0;
    text-align: justify;
}

.prod_servicos .content_produto{
    margin-bottom: 10px;
}

.prod_servicos .produtos{
    margin-left:30px;
    padding: 0px;
    text-align: justify;
}

.prod_servicos .produtos .separa_produto{
    padding: 0px;
    text-align: justify;
}
.prod_servicos .produtos .separa_produto .img_produto{
    padding: 0px;
    text-align: justify;
}


/* TERMINA PAGINA PRODUTOS E SERVIÇOS */

/* FOOTER */
#footer2{
    width: 100%;    
    background: #1a6a9f;   
    padding-bottom: 40px;
}

#footer2 .content-footer{
    color: #ffffff;        
}

#footer2 .content-footer p{
    color: #ffffff;
    margin-bottom: 0px;
}

#footer2 .content-footer h2{
    font-size: 18px;
    margin-top: 40px;
}

#footer2 .content-footer .endereco{
    border-left: 2px groove #3278b3; 
    margin-top: 40px;
}

#footer2 .content-footer .contato{
    border-left: 2px groove #3278b3;
    margin-top: 40px;
}

#footer2 .content-footer .botao-cadastro{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #134d75;
    background: #1e77b1;
}

#footer2 .content-footer .botao-cadastro:hover{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #134d75;
    background:#428bca;
}

#footer2 .content-footer .campo-email{
    width: 274px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #1a6a9f;
    background: #1e77b1;
    color: #fff;
    padding-left: 5px;
}

#footer2 .content-footer .campo-email:hover{
    width: 274px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #428bca;
    background: #1e77b1;
    color: #fff;
    padding-left: 5px;
}

/* TROCA A COR DO PLACEHOLDER */
::-webkit-input-placeholder { /* WebKit browsers */
color: #428bca;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #428bca;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #428bca;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #428bca;
}

#footer3{
    width: 100%;    
    background: #134d75; 
    border-top: 2px groove #206aa1;
}
#footer3 .content-footer .copyright{      
    height: 40px;
}

#footer3 .content-footer .copyright p{       
    color: #ffffff;
    margin-top: 10px;
}



/* CSS HUGO */
.navbar {
    margin-bottom: 0;
}

@media (min-width: 960px) {
    
    .main-container {
        width: 960px;
        margin: 0 auto;
    }
}